h1.has-text-centered Resume
section.section.resume-page
  .container.animated.fadeInLeft
    section.section#experience
      h2.title Experience
      hr
      for job in public._data.experience
        .box
          .level
            .level-left
              .level-item
                p #[strong #{job.company}]
                
            .level-right
              .level-item
                p #{job.date}
          p #{job.name}
          ul.highlights
            for highlight in job.highlights
              li &#9656; #{highlight}
              
    section.section#project
      h2.title Projects
      hr
      for project in public._data.projects
        if project.show
          .box
            .level
              .level-left
                .level-item
                  if project.url
                    a(href="#{project.url}") #{project.name}
                  else
                    p #[strong #{project.name}]
              .level-right
                .level-item
                  p #{project.date}
            ul.highlights
              for highlight in project.highlights
                li &#9656; #{highlight}
            
            for keyword in project.keywords
              span.tag #{keyword}
                    
    section.section#education
      h1.title Education
      hr
      .content
        .columns
          for edu in public._data.education
            .column
              .card
                .header.card-header
                  p.card-header-title #{edu.name}
                .card-content
                  .content 
                    p Major: #{edu.major}
                    p GPA: #{edu.gpa}
                    p Related coursework:
                    ul
                      for course in edu.courses
                        li #{course}
                    small #{edu.date}
    
    section.section#skills
      h2.title Skills
      hr
      .columns
        .column
          .card
            .card-header
              p.card-header-title Languages
            .card-content
              for language in public._data.languages
                span.tag #{language}
                
        .column
          .card
            .card-header
              p.card-header-title Tools
            .card-content
              for tool in public._data.tools
                span.tag #{tool}

        .column    
          .card
            .card-header
              .card-header-title Others
            .card-content
              for other in public._data.others
                span.tag #{other}
